@charset "UTF-8";

body {
  padding: 0;
  margin: 0;
}

header,
main,
footer {
  max-width: none;
  padding: 0;
  margin: 0;
}

header {
  z-index: 10;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  padding: .5rem;
  width: fit-content;
  width: -moz-fit-content;
}

header .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 100%;
  width: 100%;
}

#map {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.coordinates {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  bottom: 40px;
  left: 10px;
  padding: 5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  display: none;
}

.drag-marker {
  position: absolute;
  cursor: grab;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  background-color: rgb(251, 69, 69);
  opacity: 0.8;
  border-radius: 100%;
  box-shadow: 0 0 0 rgba(251, 69, 69, 0.5);
  animation: pulse 2.5s infinite;
  transition: opacity 300ms linear;
}

.drag-marker:hover {
  animation: none;
  opacity: 1;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(251, 69, 69, 0.5);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(251, 69, 69, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(251, 69, 69, 0);
  }
}

footer {
  z-index: 10;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 1.5rem;
  width: fit-content;
  width: -moz-fit-content;
  height: auto;
}

footer .location-name {
  color: var(--font-sec-color);
  font-size: 1.2rem;
}
