@charset "UTF-8";

:root {
  /* layer colors */
  --layer-exfil-color: rgb(43, 159, 26);
  --layer-cache-color: rgb(226, 169, 0);
  --layer-search-color: rgb(118, 43, 170);
}

body {
  padding: 0;
  margin: 0;
}

header,
main,
footer {
  max-width: none;
  padding: 0;
  margin: 0;
}

header {
  z-index: 10;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  padding: .5rem;
  width: fit-content;
  width: -moz-fit-content;
}

header .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 100%;
  width: 100%;
}

#map {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.nav {
  display: flex;
  z-index: 10;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  top: 0;
  margin: 1rem;
  width: 30rem;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-third-color);
  box-shadow: 0 0 .8rem -.1rem rgba(0, 0, 0, 0.4);
}

.nav .search {
  margin: 0;
  width: 100%;
}

.nav .search .suggestion {
  box-shadow: 0 .3rem .6rem -.1rem rgba(0, 0, 0, 0.4);
}

.layers {
  position: relative;
  z-index: 20;
  box-sizing: border-box;
  padding: .5rem;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  margin: 0 .3rem;
}

.layers > .icon {
  width: 2rem;
  height: 2rem;
  background-image: url("../img/layers.svg");
}

.layers > .list {
  position: absolute;
  visibility: hidden;
  box-sizing: border-box;
  list-style: none;
  padding: 1rem;
  margin: 0;
  background-color: var(--bg-third-color);
  opacity: 0;
  float: right;
  transition: opacity .3s linear;
  min-width: 13rem;
  min-height: 10rem;
  box-shadow: 0 .2rem .6rem -.1rem rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
}

.layers > .list li {
  margin: .3rem 0;
}

.layers > .list label {
  display: inline-flex;
  align-items: center;
}

/* .layers > .list .icon {
  width: 1.2rem;
  height: 1.2rem;
  margin: unset;
  margin-right: .5rem;
  background-image: url("../img/feature.svg");
} */

.layers > .list .dot {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  margin-right: .5rem;
  background-color: var(--font-main-color);
}

.layers > .list input[type=checkbox] {
  display: none;
}

.layers > .list label {
  cursor: pointer;
  opacity: .5;
}

.layers > .list label.active {
  opacity: 1;
}

/* .layers:hover {
  background-color: var(--bg-third-color);
  min-width: 12rem;
  min-height: 10rem;
  float: right;
  box-shadow: 0 .2rem .6rem -.1rem rgba(0, 0, 0, 0.4);
} */

.layers:hover > .list {
  visibility: visible;
  opacity: 1;
}

.drag-marker {
  position: absolute;
  cursor: grab;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  background-color: rgb(251, 69, 69);
  opacity: 0.8;
  border-radius: 100%;
  box-shadow: 0 0 0 rgba(251, 69, 69, 0.5);
  animation: pulse 2.5s infinite;
  transition: opacity 300ms linear;
}

.drag-marker:hover {
  animation: none;
  opacity: 1;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(251, 69, 69, 0.5);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(251, 69, 69, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(251, 69, 69, 0);
  }
}

.mapboxgl-popup-content {
  background: var(--bg-main-color) !important;
  font-family: 'Bender', 'sans serif';
  font-size: 1rem;
  color: var(--font-main-color);
  padding: 1rem;
  width: fit-content;
  width: -moz-fit-content;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: unset !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: var(--bg-main-color) !important;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: var(--bg-main-color) !important;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: var(--bg-main-color) !important;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: var(--bg-main-color) !important;
}

footer {
  z-index: 10;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 1.5rem;
  width: fit-content;
  width: -moz-fit-content;
  height: auto;
}

footer .location-ident {
  color: var(--font-sec-color);
  font-size: 1.2rem;
  user-select: none;
}
