@charset "UTF-8";

.header .row-1 {
  display: flex;
}

.header .row-1 .col-1,
.header .row-1 .col-3 {
  flex-grow: 1;
  min-width: 5rem;
}

.header .row-1 .col-2 {
  flex-grow: 2;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--font-sec-color);
}

.header .row-1 .col-3 ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header .icon {
  width: 1.2rem;
  line-height: 1.2rem;
  margin: 0.5rem;
  opacity: 0.6;
  transition: opacity 200ms ease-in;
}

.header .icon:hover {
  opacity: 0.8;
}

.header .icon.selected {
  opacity: 1;
}

.list {
  box-sizing: border-box;
  min-height: 20rem;
  padding: 1.5rem;
}

.content {
  margin: 1rem 0;
}

.list .grid ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.list .grid li {
  margin: 0;
  padding: 0;
  max-width: 17.1rem;
  width: 100%;
}

.list .grid li a {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 0.3rem;
  padding: 0.2rem 1rem;
  height: 5rem;
  background-color: var(--bg-fourth-color);
}

.list .grid li .title {
  color: var(--font-main-color);
  font-weight: bold;
  margin: 0.2rem 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 200ms ease-in;
}

.list .grid li a:hover .title {
  color: var(--font-sec-color);
}

.list .grid li .icon-image {
  object-fit: contain;
  width: 3.5rem;
  filter: saturate(70%);
  transition: filter 200ms ease-in;
}

.list .grid li a:hover .icon-image {
  filter: saturate(100%);
}

.pagination {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}

.pagination ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination li {
  box-sizing: border-box;
  display: inline-block;
  line-height: 3rem;
}

.pagination .number {
  width: 3rem;
  text-align: center;
  vertical-align: middle;
}

.pagination li a {
  display: inline-block;
  color: var(--font-sec-color);
  background-color: var(--bg-fourth-color);
  text-transform: uppercase;
  margin: 0 2rem;
  width: 6rem;
  opacity: 0.3;
  cursor: default;
  transition: background-color 300ms linear;
}

.pagination li .active {
  opacity: 1;
  cursor: pointer;
}

.pagination li .active:hover {
  background-color: var(--font-main-color);
}

.filters {
  width: 100%;
  line-height: 4rem;
  margin-top: 1rem;
  background-color: var(--bg-sec-color);
}

.filters ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.filters li {
  margin: 0 1rem;
}

.filters label {
  margin-right: 0.6rem;
}

.filters select {
  appearance: none;
  -moz-appearance: none;
  border: none;
  padding: 0.3rem;
  min-width: 8rem;
  background-color: var(--bg-fourth-color);
  color: var(--font-main-color);
  font-family: "Bender", "sans serif";
  font-size: 0.9rem;
}
