@charset "UTF-8";

@import "maplibre-gl/dist/maplibre-gl.css";

:root {
  /* layer colors */
  --layer-exfil-color: rgb(43, 159, 26);
  --layer-cache-color: rgb(226, 169, 0);
  --layer-search-color: rgb(118, 43, 170);
}

body {
  padding: 0;
  margin: 0;
}

header,
main,
footer {
  max-width: none;
  padding: 0;
  margin: 0;
}

header {
  z-index: 10;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0.5rem;
  width: fit-content;
  width: -moz-fit-content;
}

header .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  header {
    display: none;
  }
}

main {
  height: 100%;
  width: 100%;
}

#map {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.nav {
  display: flex;
  z-index: 10;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  top: 0;
  margin: 1rem;
  width: calc(100% - 2rem);
  max-width: 30rem;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-third-color);
  box-shadow: 0 0 0.8rem -0.1rem rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 32rem) {
  .nav {
    width: calc(100% - 1rem);
    margin: 0.5rem;
  }
}

.nav .search {
  margin: 0;
  width: 100%;
}

.nav .search .suggestion {
  box-shadow: 0 0.3rem 0.6rem -0.1rem rgba(0, 0, 0, 0.4);
}

.menu {
  display: flex;
  position: relative;
  z-index: 20;
  box-sizing: border-box;
  padding: 0.3rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  margin-left: 0.3rem;
  width: 2.9rem;
  height: 2.9rem;
}

.menu.main > .icon {
  width: 80%;
  height: 80%;
  background-size: contain;
  background-image: url("../img/menu.svg");
}

.menu.layers > .icon {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-image: url("../img/layers.svg");
}

.menu > ul {
  position: absolute;
  visibility: hidden;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--bg-third-color);
  opacity: 0;
  float: right;
  transition: opacity 0.3s linear;
  box-shadow: 0 0.2rem 0.6rem -0.1rem rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  width: max-content;
  min-height: 10rem;
}

.menu.layers > ul {
  padding: 0.3rem 0;
}

.menu li {
  width: 100%;
}

.menu li:hover {
  background-color: var(--bg-fourth-color);
}

.menu.main li .icon {
  width: 2.2rem;
  line-height: 2.2rem;
  margin: 0.5rem;
}

.menu.main > ul .icon.ruler {
  background-image: url("../img/ruler.svg");
}

.menu.layers > ul li {
  box-sizing: border-box;
  padding: 0.2rem 0.8rem;
}

.menu.layers > ul label {
  display: inline-flex;
  align-items: center;
}

.menu.layers > ul .dot {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  background-color: var(--font-main-color);
}

.menu.layers > ul input[type="checkbox"] {
  display: none;
}

.menu.layers > ul label {
  cursor: pointer;
  opacity: 0.5;
}

.menu.layers > ul label.active {
  opacity: 1;
}

.menu:hover > ul {
  visibility: visible;
  opacity: 1;
}

.drag-marker {
  position: absolute;
  cursor: grab;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  background-color: rgb(251, 69, 69);
  opacity: 0.8;
  border-radius: 100%;
  box-shadow: 0 0 0 rgba(251, 69, 69, 0.5);
  animation: pulse 2.5s infinite;
  transition: opacity 300ms linear;
}

.drag-marker:hover {
  animation: none;
  opacity: 1;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(251, 69, 69, 0.5);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(251, 69, 69, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(251, 69, 69, 0);
  }
}

.distance-container {
  visibility: hidden;
  z-index: 10;
  position: absolute;
  bottom: 5rem;
  display: inline-flex;
  left: calc(50% - 6rem);
  width: 12rem;
  box-sizing: border-box;
  background-color: rgba(14, 14, 14, 0.95);
  color: var(--font-sec-color);
  text-align: center;
  padding: 0.3rem;
  justify-content: center;
  align-items: center;
}

.distance-container > .icon {
  margin: 0 0.3rem;
  width: 2.5rem;
  height: 2.5rem;
  user-select: none;
}

.distance-container > .icon.ruler {
  background-size: contain;
  background-image: url("../img/ruler-white.svg");
}

.distance-container > .icon.close {
  background-size: 0.8rem;
  background-image: url("../img/close-white.svg");
}

.distance-container > span {
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
}

.mapboxgl-popup-content {
  background: var(--bg-main-color) !important;
  font-family: "Bender", "sans serif";
  font-size: 1rem;
  color: var(--font-main-color);
  padding: 1rem;
  width: fit-content;
  width: -moz-fit-content;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: unset !important;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: var(--bg-main-color) !important;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: var(--bg-main-color) !important;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: var(--bg-main-color) !important;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: var(--bg-main-color) !important;
}

footer {
  z-index: 10;
  box-sizing: border-box;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 1.5rem;
  width: fit-content;
  width: -moz-fit-content;
  height: auto;
  user-select: none;
}

footer .location-info .name {
  color: var(--font-sec-color);
  font-size: 1.2rem;
}

footer .location-info .details {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  right: 0;
  width: calc(100% - 4rem);
  max-width: 25rem;
  background-color: rgba(14, 14, 14, 0.95);
  padding: 1rem;
  margin: 1rem;
  transition: opacity 0.2s linear;
  opacity: 0;
}

footer .location-info .details th {
  text-align: left;
  padding-right: 1rem;
}

footer .location-info:hover .details {
  visibility: visible;
  opacity: 1;
}
