{{ define "header" }}
    <div class="navbox">

      <a class="title" href="/">
        <div class="logo">&nbsp;</div>
        <div class="name">Tarkov</div>
        <div class="db">Database</div>
      </a>

    </div>
{{ end }}
