{{ define "content" }}
      <div class="box about">
        <div class="main">
          <h1>Project Showcase</h1>
          <div class="text">
            Work in progress
          </div>
      </div>
{{ end }}
