{{ define "properties" }}
          <table>
            <tr>
              <th>Usages</th>
              <td>{{ if .Entity.Usages }}{{ .Entity.Usages }}{{ else }}&infin;{{ end }}</td>
            </tr>
          </table>
{{ end }}

{{ define "sub_box" }}
{{ end }}

{{ define "related_box" }}
{{ end }}
