{{ define "properties" }}
        <table>
            <tr>
              <th>Capacity</th>
              <td>{{ .Entity.Capacity }}</td>
            </tr>
        </table>

        {{ template "grids" . }}
{{ end }}

{{ define "sub_box" }}
{{ end }}

{{ define "related_box" }}
{{ end }}
