name: Build & Deploy
on:
  push:
    branches:
      - master

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

      - name: Login to Registry
        run: docker login docker.pkg.github.com -u ${GITHUB_ACTOR} -p ${{ secrets.GITHUB_TOKEN }}

      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: Build image
        run: docker build -t docker.pkg.github.com/tarkov-database/website/website:${GITHUB_SHA} .

      - name: Publish image
        run: docker push docker.pkg.github.com/tarkov-database/website/website

      - name: Logout
        run: docker logout docker.pkg.github.com

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build
    steps:

      - name: Set up config
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
        run: |
          mkdir -p ${HOME}/.kube
          export KUBECONFIG=${HOME}/.kube/config
          echo $KUBE_CONFIG | base64 -d > $KUBECONFIG

      - name: Deploy image
        run: kubectl set image deployment/frontend website=docker.pkg.github.com/tarkov-database/website/website:${GITHUB_SHA}
