name: Lint & Test
on:
  push:
    paths:
      - '*.go'
      - '*/*.go'
      - '*/*/*.go'
      - '*/*/*/*.go'
      - 'static/resources/js/*.js'
      - 'go.mod'
      - 'go.sum'
      - 'revive.toml'
      - '.eslintrc.json'
      - '.eslintignore'
      - '.github/workflows/lint-test.yaml'

jobs:

  go-lint:
    name: Go Lint
    runs-on: ubuntu-latest
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Run Revive Action
      uses: docker://morphy/revive-action:v1
      with:
        config: revive.toml
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  js-lint:
    name: JS Lint
    runs-on: ubuntu-latest
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Install ESLint
      run: npm i -g eslint@6

    - name: Run ESLint
      run: eslint static/resources/js
